@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-wrap: nowrap;
  background-color: rgb(229, 229, 229);
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
body::-webkit-scrollbar{
  background: transparent;
  width: 10px;
}
body::-webkit-scrollbar-thumb{
  background-color: rgb(195, 0, 0);
  border-radius: 5px 15px 5px 15px;
}


