.ContainerProducts{
    overflow-x: hidden;
    overflow-y:scroll;
    display: flex;
    flex-wrap: wrap;
    width: 69%;
    height:90%;
    justify-content: center;
}
.ContainerProducts::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}