.ContainerProducts{
    overflow-y:scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height:85vh;
    justify-content: center;
}
.ContainerProducts::-webkit-scrollbar{
    width: 0px;
}