

.C {
  display: flex;
  align-items: center;
}

@media (max-width: 620px) {
  .C {
    width: 300px;
  }
  li{
    width: 20px;
    font-size: 10px;
    min-width: fit-content;
    filter:drop-shadow(5px 5px 5px rgba(0,0,0,1));
  }
  li:last-child{
    width: 20px;
    font-size: 1px;
    min-width: fit-content;
  }
}
@media (min-width: 620px) {
  li{
    font-size: 15px;
    min-width: fit-content;
  }
  li:last-child{
    width: 20px;
    font-size: 1px;
    min-width: fit-content;
  }
}

.Content {
  padding: 0 5%;
}
li {
  width: 100px;
  cursor: pointer;
  margin: 0 1em 0 0;
  transition: .5s;
  color: white;
  border: transparent;
  border-radius: 1rem .5rem 1rem .5rem;
}

li:hover {
  background-color: rgb(200, 0, 0);
  border-radius: .5rem 1rem .5rem 1rem;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
}

li:last-child {
  position: relative;
  background-color: rgb(174, 174, 174);
  border-radius: 1rem .5rem 1rem .5rem;
  color: white;
  overflow: hidden;
  transition: .5s;
  display: flex;
  white-space: nowrap;
  font-size: 15px;
  justify-content: center;
  border: transparent;
  align-items: center;
  padding: 0 .5% .5% .5%;
  width: 50px;
  height: 25px;

}

li:last-child:hover {
  background-color: rgb(111, 111, 111);
  border-radius: .5rem 1rem .5rem 1rem;
  width: 250px;
  border: 1px solid black;
  justify-content: start;
}
li:last-child span {
    position: absolute;
    transition: .3s;
    opacity: 0;
}
li:last-child:hover span {
  text-align: center;
  transition: 1s;
    align-items: center;
    justify-content: center;
    opacity: 1;
    width: 100%;
}